* {
    box-sizing: border-box;
    text-decoration: none;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #DDB8A6;
  
}
  
h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
}
  
  p {
    margin: 0;
}
  
  header{ /*this is nav in the video*/
    background-color: whitesmoke;
    display: inline-block;
    width: 100%;
    padding: 25px 80px;
    height: 100Px;
    position: relative;
}


  .Logo-text{
    float: left;
    position: absolute;
    top: 17px;
    left: 8%;
    font-size: 35px;;

}

header div{
    width: 400px;
    height: 85px;
    position: absolute;
    top: 10px;
    margin-left: -83px;
    border: 2px solid  #000;
    border-radius: 20px 30px 25px 10px;
    background-color: #d4a68f;
}

.Logo-text a:hover{
  font-size: 42px;
  color: #a94064;
}

.Middle-initals:hover {
    color: #de5d83;
}
  

  .Logo-text a{
    color: #de5d83;
    text-decoration-line: none;
}

  .Middle-initals{
    color: #a94064;
  
}

  nav ul{
    float: right;
    margin-right: 25px;
}

  nav ul li{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}

  nav ul li a {
    position: relative;
    color: #de5d83;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 0;
}

  nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #de5d83;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

  nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

  label #btn,
  label #close{
    color: #946656;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 2px;

    cursor: pointer;
    display: none;
}

  #check{
    display: none;
}

.hero-banner {
    width: 100%;
    position: relative;
    height: 50vh; /* 50% of the viewport height */
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    display: flex;
    align-items: flex-end; /* Align items to the bottom of the container */
    justify-content: center;
  }

.hero-image{
    flex: 1;
    display: flex; /* Use Flexbox for content layout */
  flex-direction: column; /* Stack the items vertically */
}


section.hero-banner {
    height: 50vh; /* 50% of the viewport height */
    width: 100%; 
    flex: 1; /* Make the image container take available vertical space */
  position: relative;
  justify-content: flex-end; /* Horizontally center the image */
  align-items: center; 
  
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.hero-banner div h2{
    position: absolute;
    font-size: 35px;
    border: 2px solid  #DDB8A6;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 40px; /* Adjust the distance from the right as needed */
    background-color: rgba(165, 163, 163, 0.5);
    color: #893f04;
    padding: 10px;
}

main{
  display: grid;
  grid-template-rows: 20% 65% 15%;
  height:1000px;
  grid-gap: 100px;
  margin-top: 30px;
}

#Section1{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
  ".about .About-Me";
}

#Section2{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
  ".Work .Work-section";
  
}

#Section3{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
  ".contact .Contact-Me";
  align-items: center;
}

.about, .Work, .Contact {
  text-align: right;
  border-right: 3px solid #000;
  font-size: 50px;
}

.about h2, .Work h2, .Contact h2{
  padding-right:20px;
  align-items: center;
}

.About-Me p, .Contact-Me p{
  padding-left: 20px;
  padding-right: 30px;

}

.Work-section{
  display:grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
  "work1 work1 "
  "work2 work3"
  "work4 work5";
  overflow: auto;
  padding-left: 20px;
  padding-right: 30px;
}

.Projects{
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #ccc;
}

.Projects img {
  max-width: auto; /* Ensure images fit within their containers */
  height: auto; /* Maintain aspect ratio */
  object-fit:cover;
  filter: grayscale(100%); /* Make the image black and white */
  transition: filter 0.3s
}

.Projects:hover img{
  filter: grayscale(0%); /* Restore the image to full color on hover */
}

#work1 {
  grid-area: work1;
  position: relative;

}

#work2{
  grid-area: work2;

}

#work3{
  grid-area: work3;
}

#work4{
  grid-area: work4;

}

#work5{
  grid-area: work5;

}

.work-section div{
  border: 2px solid black
}

#work1, #work2, #work3, #work4, #work5{
  display:flex;
  flex:1;
  position: relative;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
}

.work-title{
  position: absolute;
  z-index: 100;
  padding: 5px;
  font-size: 15px;
  border: 2px solid  #DDB8A6;
  color: white;
}

.Contact-Me{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
}

.Contact-Me p a{
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.Contact-Me p a::before{
  content: ''; /* Add content to the ::before pseudo-element */
  position: absolute; /* Position the ::before pseudo-element absolutely relative to its parent */
  width: 100%; /* Make the ::before element the same width as the link */
  height: 2px; /* Set the height to define the thickness of the underline */
  background: #de5d83; /* Define the color of the underline */
  transform: scaleX(0); /* Start with no underline */
  transform-origin: center;
  transition: transform 0.4s linear;
}

.Contact-Me p a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}


  @media (max-width: 1120px){
    .Logo-text{
        left:6%;
        font-size: 30px;
    }

    .header {
        padding-top: 10px; /* Adjust the top padding to reduce space */
    }

    header div{
        width: 270px;
        height: 85px;
        position: absolute;
        top: 6px;
        margin-left: -83px;
        border: 2px solid  #000;
        border-radius: 20px 30px 25px 10px;
        background-color: #d4a68f;
    }

    .Logo-text a:hover{
        font-size: 32px;
        color: #a94064;
      }

    .hero-banner {
        margin-top: 2px; /* Adjust the top margin to reduce space */
      }
    .hero-banner div h2{
        color: #f5f5f5;
        font-size: 18px;
    }
    
}

  @media (max-width: 944px){
    .Logo-text{
        font-size: 25px;
        left:6%;
        top: 10px;
        width: 150px;
    }

    header div{
        width: 270px;
        height: 85px;
        position: absolute;
        top: 6px;
        margin-left: -83px;
        border: 2px solid  #000;
        border-radius: 20px 30px 25px 10px;
        background-color: #d4a68f; 
    }

    .Logo-text a:hover{
        font-size: 26px;
        color: #a94064;
    }
    

    nav ul li a{
        font-size: 17px;

    }

    .hero-banner {
        margin-top: 10px; /* Adjust the top margin to reduce space */
      }
}

    
@media (max-width: 860px){
    .header {
        padding-top: 10px; /* Adjust the top padding to reduce space */
    }

    .Logo-text{
        font-size: 18px;
        left:2%;
        top: 15px;
        width: 100px;
        padding: 0px 25px 5px 15px;
    }

    header div{
        width: 165px;
        height: 75px;
        position: absolute;
        top: 10px;
        margin-left: -83px;
        border: 2px solid  #000;
        border-radius: 20px 30px 25px 10px;
        background-color: #d4a68f; 
    }

    .Logo-text a:hover{
        font-size: 20px;
        color: #a94064;
    }

    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d49b7e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition:  all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ div{
        left: 0;

    }

    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #close{
        display: block;
    }

    .hero-banner {
        margin-top: 1px; /* Adjust the top margin to reduce space */
    }


    .hero-image{
    height: 50vh;
    width:100%
    }

    .hero-banner div h2{
        font-size: 15px;
        bottom: 10px; /* Adjust the distance from the bottom as needed */
        right: 110px; /* Adjust the distance from the right as needed */
        padding: 20px;
    }

    main{
      height:1800px;
      grid-gap: 150px;
    }

    .about, .Work, .contact{
      text-align: right;
      border-right: 3px solid #000;
      font-size: 20px;
    }

    .About-Me p{
      font-size: 12px;
    
}
}

@media (max-width: 400px){
  .hero-banner div h2{
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    right: 200px;
  }

  main{
    height:1600px;
    grid-gap: 85px;
  }

  .about, .Work, .contact{
    text-align: right;
    border-right: 4px solid #000;
    font-size: 10px;
  }

  #Section1{
    grid-template-columns: 15% 85%;
  }

  #Section2{
    grid-template-columns:15% 85%;
  }

  .Work-section{
    grid-gap: 10px;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  }

  #Section3{
    grid-template-columns: 15% 85%;
  }

}